a:focus {
    outline: 4px solid #777;
    outline-offset: 2px;
    outline-style:groove;
}
a:hover {
    outline: 3px solid #777;
    outline-offset: 1px;
    outline-style:groove;
}
.font-espy {
    font-family: 'espysans', 'sans-serif';
}

.font-mukta {
    font-family: 'mukta', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Space Mono", monospace;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
