---
layout: layout.njk
title: Blog or Not
permalink: "useless-ramblings/"
---
 {% from '../_includes/_components.njk' import topic, randomizer, taglist, blog  %}

{{ topic({
    title:"Ramblings",
    topics:[
        {
            title:"How many times can you hit a MacBook M1 Air with a hammer?",
            text:"...And reasonably expect it to function. ",
            link: "/hit-a-macbook-with-a-hammer"
        }
    ]

})}}