---
layout: layout.njk
title: Blog or Not
permalink: "useless-ramblings/"
---
 {% from '../_includes/_components.njk' import topic, randomizer, taglist, blog  %}

<h1 class="text-2xl font-bold text-center my-4"> {{title}} </h1>

{{ blog({
    title:"Test",
    content:"markdown-test"
})}}
