---
layout: layout.njk
title: How many times can you hit a MacBook M1 Air with a hammer
permalink: "hit-a-macbook-with-a-hammer/"
---
 {% from '../_includes/_components.njk' import topic, randomizer, taglist, blog  %}

{{ blog({
    title:"",
    content:"what-does-your-mac-need.md"
})}}