---
layout: layout.njk
title: Resume
permalink: "resume/"
---
 {% from '../_includes/_components.njk' import topic, randomizer, taglist  %}

<h1 class="text-2xl font-bold text-center"> Resume and Work of Jeffrey H.S. Knaack </h1>



<p class=""> Testing this font I can't remember what it looks like </p>


<section class="flex flex-col gap-3"
          x-data="{
                    expandAll: 'false'}">
<h2 class=" uppercase font-bold py-2 md:text-center">Project Contributions</h2>
    <div class="flex items-center">

                <input @click="expandAll = ! expandAll"
                type="checkbox" id="expandAll" class="border border-black rounded h-8 w-8">
                <label for="expandAll" class="text-xl mx-2">Expand All the Things</label>
    </div>

{{ taglist({
    listType: "contrib",
    tags:[
        {
            title: "The Official Website of the State of New York - ny.gov",
            content:"Twig templating, svelte component development, sass, general css and html, presentational javascript, various drupalings",
            link:"https://ny.gov",
            type:"frontend"
        },
        {
            title:"The Official Website of the Governor State of New York - governor.ny.gov",
            frontend: "yep",
            product: "yep",
            content: "yes",
            link:"https://governor.ny.gov"
        },
        {
            title:"Office of General Services - ogs.ny.gov",
            product: "yep",
            content: "yep",
            link:"https://ogs.ny.gov"
        },
        {
            title:"NYS Digital Services Utilities - nysds.dev",
            fullstack: "yep",
            content: "yessir",
            link:"https://nysds.dev"
        }
    ]
})
}}
</section>
