---
layout: layout.njk
title: Knaackbuilt.dev
---
 {% from './_includes/_components.njk' import topic, randomizer, taglist  %}


<h1 class="font-extrabold text-xl mt-8"> Accessibility Resources </h1>
<p class="">Ok so check this stuff out - adding way more in soon</p>

{{ taglist({
    listType: "a11yList",
    tags:[
        {
            title: "Web Content Accessibility Guidelines (WCAG 2.2)",
            description: "This is the standard setting body (w3c) and the official recommendation that gets adopted by various organizations.",
            link:"https://www.w3.org/TR/WCAG22/"
        },
        {
            title: "Section 508",
            description: "Section 508 of the rehabilitation act is where we get federal conformance regulation from. ",
            link:"https://www.w3.org/TR/WCAG22/"
        }
    ]
})
}}



