---
layout: layout.njk
title: Projects and How I Contributed
---
{% from './_includes/_components.njk' import topic, taglist  %}

<h2 class=" uppercase font-bold py-2 md:text-center">{{title}}:</h2>
<div class="" x-data="{product: 'false', frontend: 'false', content: 'false', fullstack:'false'}">    
<div class="">
    <ul class="flex flex-col">
        <li>    
            <label for="frontend" class="font-espy text-sm">Front-end Development</label>
            <input @click="frontend = ! frontend"
            type="checkbox" id="frontend" class="border border-black rounded">
        </li>
        <li>
            <label for="fullstack" class="font-espy text-sm">Full-stack Development</label>
            <input @click="fullstack = ! fullstack"
            type="checkbox" id="fullstack" class="border border-black rounded">
        </li>
        <li>
            <label for="product" class="font-espy text-sm">Product Management</label>
            <input @click="product = ! product"
            type="checkbox" id="product" class="border border-black rounded">
        </li>
        <li>
            <label for="content" class="font-espy text-sm">Content Management</label>
            <input @click="content = ! content"
            type="checkbox" id="content" class="border border-black rounded">
        </li>
    </ul>
</div>
{{ taglist({
    tags:[
        {
            title: "The Official Website of the State of New York - ny.gov",
            frontend: "yep",
            product: "yep",
            link:"https://ny.gov"
        },
        {
            title:"The Official Website of the Governor State of New York - governor.ny.gov",
            frontend: "yep",
            product: "yep",
            link:"https://governor.ny.gov"
        },
        {
            title:"Office of General Services - ogs.ny.gov",
            product: "yep",
            content: "yep",
            link:"https://ogs.ny.gov"
        },
        {
            title:"NYS Digital Services Utilities - nysds.dev",
            fullstack: "yep",
            link:"https://nysds.dev"
        }
    ]
})
}}
</div>