---
layout: layout.njk
title: iBook's
---
 {% from './_includes/_components.njk' import topic, randomizer  %}


<h1> {{title}}</h1>

<p> I love my G3 and G4 iBooks. Sadly I have not been able to get git functional on Tiger or Lepoard to be able to contribute here.
    I'm writing this from a 2010 MacBook, which is nice, but too modern.</p>
