---
layout: layout.njk
title: iBook's
---
 {% from './_includes/_components.njk' import topic, randomizer  %}


<h1> {{title}}</h1>

<p> I love my G3 and G4 iBooks. This line was finally written on an iBook G4!</p>

<p> Getting git installed and working was problematic. There's a lot that git depends on and only two semi-reliable ways to achieve it. </p>

<p> 
You have to use:
<ol>
<li> Tigerbrew</li>
<li> or MacPorts </li>
</ol>
</p>

<p>
Sounds easy right? Well it takes hours to install either of those and depending on the iBook and exact OS version and god know what else - maybe the wind - one of the two will work and allow you to build all the dependencies for git.
</p>

<p>
Tigerbrew is the easier option, since brew is already in modern mac workflows, but there are machines with Lepoard that I just haven't been able to get it installed and must use MacPorts
</p>

