---
layout: layout.njk
title: Personal Website of Jeffrey Knaack
---
{% from './_includes/_components.njk' import topic, taglist, shakespeare  %}


<h2 class="text-3xl my-8"> Hi I'm Jeff. </h2>
<p class="my-4">
I have strong opinions about web development, unions and labor, the use of technology in our society, ethics, philosophy, history, literature, AI, computers in general, corporations, capitalism, equality, and disability. It's important to actually <em>have</em> opinions and critically use your brain to think and ponder why things are the way they are.  
    </p>
<p class="my-4"> Those opinions are mine and I don't expect you to share them. I do expect that you treat people well, be honest, help folks when you can, and try hard to do what is right. If you think that's a load of wank, you're free to go anywhere else. I am autistic / neurodivergent and I likely do not see the world the way that you do. Let's talk about what that means so we can better understand each other. 
    </p>

<h3 class="text-2xl my-4"> I am struggling </h3>
<p class="my-4"> You won't see it unless we're very close friends, but I assure you I am struggling. Every day, every interaction. They are harder for me than you think. I have always leaned into my weaknesses and tried to turn them into strengths, which when combined with my natural inclination for understanding all things technical and mechanical, I have developed a really interesting blend of skills.
    </p>

<p class="my-4"> I can save your life with a tourniquet with the same skill and ease that I can teach an entire college level course on a topic I am passionate about. I can cook thanksgiving dinner or hold lively conversations about shakespeare and history or repair a snowblower in silence when it's 20 below. Oh I'm also a web developer, accessibility engineer, and solutions architect - I guess. People decided it was cool that I be responsible for the health and functionality of the 9th most visited government website in the United States, and the 3rd most visited state website. Like 40 million times a month. No one pays you to talk about shakespeare anymore. </p>

<h3 class="text-2xl my-4"> I am thriving </h3> 

<p class="my-4"> I was once ranked second in the world on a popular trivia app for the category "The life of Nelson Mandela." It's one of my proudest moments. Long Walk to Freedom is probably my favorite history book and one of the books I have read most deeply. I have a Masters Degree in History, but not South African history, go figure.
    </p>
  <p class="my-4"> My family is everything to me. You might read that as "family time is important" or something, but I assure you that I basically always say exactly what I mean. My sons are my world and they are the people I can't let down. This is all for them. </p>
  <p class="my-4"> I love computers and technology. I want to be a crazy absent minded professor or Doc Brown. The whole "working" thing keeps getting in the way. </p>
  


{{ topic({
    title:"Things I write or do",
    type: "yellow",
    topics:[
        {
            title:"Resume",
            text:"Projects and How I contributed",
            link: "/resume"
        },
        {
            title:"Blog",
            text:"I write about some things and try to be cool on the internet",
            link: "/useless-ramblings"
        }
    ]

})}}


{{ topic({
    title:"Resources",
    type: "yellow",
    topics:[
        {
            title:"Accessibility Resources",
            text:"working on a better list of resources",
            link: "/a11y-resources"
        }
    ]

})}}

{{ shakespeare({
})}}


<section class="flex flex-col items-center">
    <h2 class="font-bold"> Look at these terrible color combinations I'll use on this site! </h2>
    <p class="sr-only"> What follows here are three sets of three colors each (9 total colors) that looks terrible together. They clash. They create dissonance.
        They include browns, yellows, lime, indigo, purple, rose and dark blue. This looks like the 1980s vomited on the page. </p>
 <div class="flex m-4">
    <div class="bg-amber-300 w-20 h-10"> </div>
    <div class="bg-violet-500 w-20 h-10"> </div>
    <div class="bg-orange-900 w-20 h-10"> </div>
</div>

<div class="flex m-4">
    <div class="bg-yellow-900 w-20 h-10"> </div>
    <div class="bg-lime-400 w-20 h-10"> </div>
    <div class="bg-indigo-500 w-20 h-10"> </div>
</div>

<div class="flex m-4">
    <div class="bg-fuchsia-600 w-20 h-10"> </div>
    <div class="bg-rose-400 w-20 h-10"> </div>
    <div class="bg-sky-900 w-20 h-10"> </div>
</div>

</section>

<p> Things I should build here
<ul class="mx-8 my-2">
    <li class="list-disc">I am currently widget</li>
    <li class="list-disc">AOL away message feature with angsty song lyrics</li>
    <li class="list-disc"> Jurrasic Park theme </li>
    <li class="list-disc"> Early 2000s computing things </li>
</ul>
</p>
