---
layout: layout.njk
title: Knaackbuilt.dev
---
{% from './_includes/_components.njk' import topic, taglist  %}
{{ topic({
    title:"I like this stuff",
    topics:[
        {
            title:"HTML",
            text:"html is great"
        },
        {
            title:"Accessibility",
            text:"automated results for this website",
            link:"/pa11y_reports"
        },
        {
            title:"Front-end Web Development",
            text:"thoughts on this in general"
        }
    ]

})}}

{{ topic({
    title:"Just the facts",
    topics:[
        {
            title:"Resume",
            text:"default way to show I technically 'work'",
            link: "/resume"
        },
        {
            title:"Things I've contributed to",
            text:"list of projects",
            link: "/contrib"
        }
    ]

})}}