---
layout: layout.njk
title: Knaackbuilt.dev
---
{% from './_includes/_components.njk' import topic, taglist, shakespeare  %}
{{ topic({
    title:"Things I might write about",
    topics:[
        {
            title:"iBook G3's and G4's",
            text:"I have a series of iBook G3 and G4's that I tinker with constantly.",
            link:"/ibook"
        },
        {
            title:"Accessibility",
            text:"automated results for this website",
            link:"/pa11y_reports"
        }
    ]

})}}



{{ topic({
    title:"Just the facts",
    topics:[
        {
            title:"Resume",
            text:"default way to show I technically 'work'",
            link: "/resume"
        },
        {
            title:"Things I've contributed to",
            text:"list of projects",
            link: "/contrib"
        }
    ]

})}}


{{ topic({
    title:"Resources",
    topics:[
        {
            title:"Accessibility Resources",
            text:"working on a better list of resources",
            link: "/a11y-resources"
        }
    ]

})}}

{{ shakespeare({
})}}