{% macro topic(params) %}
  {%- include "./topic/_template.njk" -%}
{% endmacro %}
{% macro randomizer(params) %}
  {%- include "./randomizer/_template.njk" -%}
{% endmacro %}
{% macro taglist(params) %}
  {%- include "./taglist/_template.njk" -%}
{% endmacro %}
{% macro shakespeare(params) %}
  {%- include "./shakespeare/_template.njk" -%}
{% endmacro %}  