{% set markdownPath = params.content %}
<section class="flex flex-col w-full mt-8 markdown-blog">
    <h2 class="uppercase font-bold"> {{params.title}}</h2>

{% set blogContent = markdownPath %}
{% markdown %}
  {% include "../../_content/" + blogContent %}
{% endmarkdown %}

</section>