<div id="quote" class="mb-4 border-b-2 border-gray-600"></div>
<script>
    (function() {
      var quotes = [
        {
          text: "I like building simple things that real humans can use."
        },
        {
          text: "Websites aren't that hard. Stop making them hard."
        },
        {
          text: "Don't cross a picket line. Unions built this country and are the only thing that can serve your interests as a worker."
        },
        {
          text: "Managers should still be developers."
        },
         {
          text: "Don't take the money."
        },
        {
          text: "Accessible design is usable design."
        },
        {
          text: "Do the best work for the greatest good."
        },
        {
          text: "This is a random quote on each reload."
        },
        {
          text: "Always advocate for the user first."
        },
        {
          text: "Give me love, give me light, give me fire."
        },
        {
          text: "Pack wounds with agressive motion, deep, towards the bone. If using a hemostatic agent, wrap the empty package in the dressing."
        },
        {
          text: "Tourniquets high and tight, like superman. They save lives. Ignore people who say they don't."
        },
        {
          text: "Try actually reading the WCAG standards before you enforce them."
        },
        {
          text: "Enforce coding standards, don't just pass the buck."
        },
        {
          text: "This site has no navigation menu, use the back button or click the site title."
        },
        {
          text: "If you celebrated the 2024 election, you have no place here. Hate is not welcome."
        },
        {
          text: "I called you when the time was right: are you in or are you out?"
        }
      ];
      var quote = quotes[Math.floor(Math.random() * quotes.length)];
      document.getElementById("quote").innerHTML =
        '<p class="font-espy">' + quote.text + '</p>';
    })();
  </script>