
{{ topic({
    title:"Things I might write about",
    topics:[
        {
            title:"iBook G3's and G4's",
            text:"I have a series of iBook G3 and G4's that I tinker with constantly.",
            link:"/ibook"
        },
        {
            title:"Accessibility",
            text:"automated results for this website",
            link:"/pa11y_reports"
        }
    ]

})}}
