<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="a personal website where I can never get tired of html">
    <meta name="generator" content="11ty/eleventy">
    <link rel="me" href="https://mastodon.social/@knaackbuilt">
    {% include '_css-link.njk' %}
    {% include '_js-link.njk' %}
    <title>{{ title }}</title>
  </head>
  <body class="m-8 flex flex-col items-center">
  <a href="#main-site-content-for-skiplink" class="sr-only focus:not-sr-only text-blue-700 underline">Skip to Main Content</a>
    {% from '../_includes/_components.njk' import randomizer  %}
    <main class="min-h-screen w-full lg:w-2/3 " id="main-site-content-for-skiplink">
    <h1 class="text-3xl font-bold py-4"><a href="/">Knaackbuilt.dev</a></h1>
    {{ randomizer({})}}
    {{ content | safe }}
    <footer class="font-espy mt-12 flex border-t-2 pt-2 border-gray-400">
      <p class="text-xs"> I'm building this site in the open so don't expect perfect. </p>
      <div class="ml-auto">
      <a href="https://github.com/knaackbuilt/knaackbuilt.dev" class="font-bold text-xs mx-2">GitHub</a>
      <a href="https://mastodon.social/@knaackbuilt" class="font-bold text-xs mx-2">Mastodon</a>
      </div>
      </footer>
    </main>
   
  </body>
</html>