<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="a personal website where I can never get tired of html">
    <meta name="generator" content="11ty/eleventy">
    <link rel="me" href="https://mastodon.social/@knaackbuilt">
    {% include '_css-link.njk' %}
    {% include '_js-link.njk' %}
    <title>{{ title }}</title>
  </head>
  <body class="m-8 flex flex-col items-center">
  <a href="#main-site-content-for-skiplink" class="sr-only focus:not-sr-only text-blue-700 underline">Skip to Main Content</a>
    {% from '../_includes/_components.njk' import randomizer  %}
    <main class="min-h-screen w-full lg:w-2/3 " id="main-site-content-for-skiplink">
    <h1 class="text-3xl font-bold py-4"><a href="/">Knaackbuilt.dev</a></h1>
    {{ randomizer({})}}
    {{ content | safe }}
    <footer class="font-espy mt-12 flex flex-col md:flex-row items-center border-t-2 pt-2 border-gray-400">
      <p class="flex text-xs py-2"> I'm building this site in the open, so it might not be perfect. </p>
      <ul class="flex flex-col sm:flex-row md:ml-auto">
        <li class="sm:mx-2 py-2"><a href="/sitemap.xml" class="font-bold text-xs"> XML Sitemap </a></li>
        <li class="sm:mx-2 py-2"><a href="https://github.com/knaackbuilt/knaackbuilt.dev" class="font-bold text-xs">GitHub</a></li>
        <li class="sm:mx-2 py-2"><a href="https://mastodon.social/@knaackbuilt" class="font-bold text-xs">Mastodon</a></li>
      </ul>
      </footer>
    </main>
   
  </body>
</html>