<section class="">
<ul class="">
{% for tag in params.tags %}
<li class="my-3 flex align-center justify-between" >
    <a href="{{tag.link}}" class="underline text-blue-900">{{tag.title}}</a>
        <div>
        {% if tag.frontend %}
        <span class="ml-4 p-1 text-xs font-espy bg-gray-400 whitespace-nowrap" :class="frontend ? '' : 'bg-yellow-400'">front-end</span>
        {%endif%}
        {% if tag.fullstack %}
        <span class="ml-4 p-1 text-xs font-espy bg-gray-400 whitespace-nowrap" :class="fullstack ? '' : 'bg-yellow-400'">full stack</span>
        {%endif%}
        {% if tag.product %}
        <span class="ml-4 p-1 text-xs font-espy bg-gray-400 whitespace-nowrap" :class="product ? '' : 'bg-yellow-400'">product</span>
        {%endif%}
        {% if tag.content %}
        <span class="ml-4 p-1 text-xs font-espy bg-gray-400 whitespace-nowrap" :class="content ? '' : 'bg-yellow-400'">content</span>
        {%endif%}
        </div>
</li>
{% endfor %}
</ul>
</section>